.header__nav__links {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: right;  
  color: #000;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.header__nav__links:hover {
  opacity: .7;
}
